# Dependências
node_modules/
.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Netlify (Arquivos temporários de build local)
.netlify/

# Sistema
.DS_Store
Thumbs.db

# Ambiente (Caso você use variáveis secretas no futuro)
.env
.env.local
